html {
    background-color: #fafcfe;
}

body {
    font-family: sans-serif;
    margin: auto;
}

p,
h1,
h2 {
    color: #000203;
    width: 98%;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

.content h1 {
    font-size: 4em;
}

.content h2 {
    font-size: 3em;
}

.content p {
    font-size: 2em;
}

.app-icon {
    margin-top: 32px;
    height: 100px;
    width: 100px;
}

.app-store-button {
    background: none;
    border: none;
    max-width: 80%;
    margin-top: 48px;
    outline: 0px;
    outline-color: transparent;
    padding: 0px;
}

.app-store-button img {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.blurb {
    width: 100%;
    margin-top: 64px;
    text-align: center;
}

.indent {
    padding-left: 16px;
}

/* Styles for Privacy Policy and Terms & Conditions */
.document-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
}

.document-content h1,
.document-content h2 {
    margin-bottom: 8px;
}

.document-content p {
    margin: 0px;
    padding-left: 16px;
}

.download-app-button {
    align-self: center;
    width: 50%;
    max-height: 300px;
    max-width: 300px;

    background: none;
    border: none;
    margin-top: 16px;
    outline: 0px;
    outline-color: transparent;
    padding: 0px;
}

.download-app-button .app-icon {
    max-width: 100%;
}